absl-py
attrs
cycler
flatbuffers
fonttools
importlib-metadata
kiwisolver
matplotlib
mediapipe
numpy
opencv-contrib-python
packaging
pandas
Pillow
protobuf
pyparsing
python-dateutil
pytz
six
typing_extensions
zipp